{
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",

  "printWidth": 100,
  "proseWrap": "preserve",

  "jsxSingleQuote": false,
  "singleAttributePerLine": true,
  "experimentalTernaries": true,
  "embeddedLanguageFormatting": "auto",

  "tailwindFunctions": ["cn", "clsx", "cva"],
  "tailwindStylesheet": "apps/connect/src/styles.css",

  "plugins": ["prettier-plugin-tailwindcss"],

  "overrides": [
    {
      "files": ["*.graphql", "*.gql"],
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "proseWrap": "always"
      }
    }
  ]
}
