:global ssid;
:global defconfMode;
:log info "Starting defconf script";

:foreach i in=[/ip/firewall/filter find dynamic=no] do={
/ip/firewall/filter remove $i
}

:foreach i in=[/ip/firewall/nat find dynamic=no] do={
/ip/firewall/nat remove $i
}

:foreach i in=[/ip/firewall/mangle find dynamic=no] do={
/ip/firewall/mangle remove $i
}

:foreach i in=[/ipv6/firewall/filter find dynamic=no] do={
/ipv6/firewall/filter remove $i
}

/interface detect-internet set detect-interface-list=none
/interface detect-internet set lan-interface-list=none
/interface detect-internet set wan-interface-list=none
/interface detect-internet set internet-interface-list=none
/interface list member remove [find dynamic=no]
/interface list remove [find builtin=no]
/tool mac-server set allowed-interface-list=all
/tool mac-server mac-winbox set allowed-interface-list=all
/ip neighbor discovery-settings set discover-interface-list=!dynamic
:local o [/ip dhcp-server network find]
:if ([:len $o] != 0) do={ /ip dhcp-server network remove $o }
:local o [/ip dhcp-server find]
:if ([:len $o] != 0) do={ /ip dhcp-server remove $o }
/ip pool {
:local o [find]
:if ([:len $o] != 0) do={ remove $o }
}
:local o [/ip dhcp-client find]
:if ([:len $o] != 0) do={ /ip dhcp-client remove $o }
/ip dns {
:local o [static find]
:if ([:len $o] != 0) do={ static remove $o }
}
/ip address {
:local o [find]
:if ([:len $o] != 0) do={ remove $o }
}
:foreach iface in=[/interface ethernet find] do={
/interface ethernet set $iface name=[get $iface default-name] comment=""
}
/interface bridge port remove [find]
/interface bridge remove [find]
/interface bonding remove [find]
/ip neighbor discovery-settings set discover-interface-list=static
/interface wifi reset wifi1
/interface wifi reset wifi2


#-------------------------------------------------------------------------------
# Apply configuration.
# these commands are executed after installation or configuration reset
#-------------------------------------------------------------------------------
# wait for interfaces
:local count 0;
:while ([/interface ethernet find] = "") do={
:if ($count = 30) do={
:log warning "DefConf: Unable to find ethernet interfaces";
/quit;
}
:delay 1s; :set count ($count +1);
};
:local count 0;
:while ([/interface wifi print count-only] < 2) do={
:set count ($count +1);
:if ($count = 40) do={
:log warning "DefConf: Unable to find wireless interface(s)";
/ip address add address=192.168.10.1/24 interface=ether1 comment="defconf";
/quit
}
:delay 1s;
};
/interface list add name=WAN comment="defconf"
/interface list add name=LAN comment="defconf"
/interface bridge
add name=bridge disabled=no auto-mac=yes protocol-mode=rstp comment=defconf;
:local bMACIsSet 0;
:foreach k in=[/interface find where !(slave=yes   || name="ether1" || name~"bridge" \
|| passthrough=yes || type=loopback)] do={
:local tmpPortName [/interface get $k name];
:if ($bMACIsSet = 0) do={
:if ([/interface get $k type] = "ether") do={
/interface bridge set "bridge" auto-mac=no admin-mac=[/interface get $tmpPortName mac-address];
:set bMACIsSet 1;
}
}
:if (([/interface get $k type] != "ppp-out") && ([/interface get $k type] != "lte")) do={
/interface bridge port
add bridge=bridge interface=$tmpPortName comment=defconf;
}
}
/ip pool add name="default-dhcp" ranges=192.168.10.10-192.168.10.254;
/ip dhcp-server
add name=defconf address-pool="default-dhcp" interface=bridge disabled=no;
/ip dhcp-server network
add address=192.168.10.0/24 gateway=192.168.10.1 dns-server=192.168.10.1 comment="defconf";
/ip address add address=192.168.10.1/24 interface=bridge comment="defconf";
/ip dns {
set allow-remote-requests=yes
static add name=router.lan address=192.168.10.1 comment=defconf
}

/interface wifi {
:local ifcId [/interface wifi find where default-name=wifi1]
set $ifcId configuration.mode=ap channel.band=5ghz-ax disabled=no
set $ifcId channel.width=20/40/80mhz;
set $ifcId channel.skip-dfs-channels=10min-cac;
set $ifcId security.authentication-types=wpa2-psk,wpa3-psk .passphrase=$defconfWifiPassword .ft=yes .ft-over-ds=yes
:local wlanMac [/interface get [/interface find where default-name=wifi1] mac-address];
:set ssid "MikroTik-$[:pick $wlanMac 9 11]$[:pick $wlanMac 12 14]$[:pick $wlanMac 15 17]"
set $ifcId configuration.ssid=$ssid
}
/interface wifi {
:local ifcId [/interface wifi find where default-name=wifi2]
set $ifcId configuration.mode=ap channel.band=2ghz-ax disabled=no
set $ifcId channel.width=20/40mhz;
set $ifcId channel.skip-dfs-channels=10min-cac;
set $ifcId security.authentication-types=wpa2-psk,wpa3-psk .passphrase=$defconfWifiPassword .ft=yes .ft-over-ds=yes
:local wlanMac [/interface get [/interface find where default-name=wifi1] mac-address];
:set ssid "MikroTik-$[:pick $wlanMac 9 11]$[:pick $wlanMac 12 14]$[:pick $wlanMac 15 17]"
set $ifcId configuration.ssid=$ssid
}
/ip dhcp-client add interface=ether1 disabled=no comment="defconf";
/interface list member add list=LAN interface=bridge comment="defconf"
/interface list member add list=WAN interface=ether1 comment="defconf"

/ip neighbor discovery-settings set discover-interface-list=!dynamic
/tool mac-server set allowed-interface-list=all
/tool mac-server mac-winbox set allowed-interface-list=all

/disk settings
set auto-smb-sharing=yes auto-media-sharing=yes auto-media-interface=bridge
:if ($keepApps = "yes") do={
:if ([:len [/interface bridge find where name=bridge]] = 1) do={
/app settings set lan-bridge=bridge
}
}

:log info Defconf_script_finished;
:set defconfMode;
:set ssid;
