:local iface [/interface/find where default-name={{ .Old }}]
:local old {{ .Old }}
:log info $old
:log info "Removing DHCP client for interface: $iface"

:foreach mcvln in=[/interface macvlan find where interface=$old] do={
:local mcName [/interface/macvlan/get $mcvln name]
:log info "Removing DHCP client for macvlan: $mcName"
/ip dhcp-client remove [find interface=$mcName]
:log info "Removing macvlan: $mcName"
/interface list member remove [find interface=$mcvln]
/interface/macvlan/remove $mcvln
}
/interface set $iface comment=""

/interface bridge port add bridge=LANBridgeSplit interface=$iface comment="Split"

{{ if eq .Type "foreign" }}
/ip route remove [find comment="Route-to-Foreign-Foreign Link"]
{{ if eq .ForeignInterface.Type "ether" }}
/interface ethernet set [ find default-name={{ .ForeignInterface.Interface }} ] comment="WAN - Foreign Link"
{{ else if eq .ForeignInterface.Type "wifi" }}
    /interface wifi
    set [ find default-name={{ .ForeignInterface.Interface }} ] name="{{ .ForeignInterface.Interface }}-Foreign-WAN" comment="Foreign Link WAN" configuration.mode=station-pseudobridge .ssid="{{ .ForeignInterface.SSID }}" \
    security.passphrase="{{ .ForeignInterface.Password }}" configuration.station-roaming=yes configuration.multicast-enhance=enabled \
    security.ft=yes security.ft-over-ds=yes steering.rrm=yes steering.wnm=yes disabled=no
{{ end }}
/interface macvlan add name="MacVLAN-{{ .ForeignInterface.Interface }}-Foreign Link" comment="Foreign Link MACVLAN on {{ .ForeignInterface.Interface }}" interface={{ .ForeignInterface.Interface }} mode=private
/interface bridge port remove [find bridge="LANBridgeSplit" interface="{{ .ForeignInterface.Interface }}"]
/interface list member
add interface="MacVLAN-{{ .ForeignInterface.Interface }}-Foreign Link" list="WAN" comment="Foreign WAN"
add interface="MacVLAN-{{ .ForeignInterface.Interface }}-Foreign Link" list="Foreign-WAN" comment="Foreign WAN"
/ip dhcp-client
add add-default-route=no comment="Foreign Link to Foreign" interface="MacVLAN-{{ .ForeignInterface.Interface }}-Foreign Link" script=":if (\$bound=1) do={\r\
\n:local gw (\$\"gateway-address\" . \"%\" . \$interface)\r\
\n:local routeCount [/ip route print count-only where comment=\"Route-to-Foreign-Foreign Link\"]\r\
\n:if (\$routeCount > 0) do={\r\
\n    /ip route set [ find comment=\"Route-to-Foreign-Foreign Link\" gateway!=\$gw ] gateway=\$gw\r\
\n}\r\
\n}" use-peer-dns=no use-peer-ntp=no
/ip route
add dst-address="0.0.0.0/0" gateway="100.64.0.1%MacVLAN-{{ .ForeignInterface.Interface }}-Foreign Link" routing-table="to-Foreign-Foreign Link" \
comment="Route-to-Foreign-Foreign Link"
add check-gateway=ping dst-address="4.2.2.1" gateway="100.64.0.1%MacVLAN-{{ .ForeignInterface.Interface }}-Foreign Link" routing-table="to-Foreign-Foreign Link" \
distance=1 target-scope="11" comment="Route-to-Foreign-Foreign Link"
add dst-address="0.0.0.0/0" gateway="100.64.0.1%MacVLAN-{{ .ForeignInterface.Interface }}-Foreign Link" routing-table="to-Foreign" comment="Route-to-Foreign-Foreign Link"
add check-gateway=ping dst-address="4.2.2.1" gateway="100.64.0.1%MacVLAN-{{ .ForeignInterface.Interface }}-Foreign Link" routing-table="to-Foreign" \
distance=1 target-scope="11" comment="Route-to-Foreign-Foreign Link"
add dst-address="4.2.2.1" gateway="100.64.0.1%MacVLAN-{{ .ForeignInterface.Interface }}-Foreign Link" \
routing-table="main" scope="10" comment="Route-to-Foreign-Foreign Link"
{{ else if eq .Type "domestic" }}
/ip route remove [find comment="Route-to-Domestic-Domestic Link"]
{{ end }}
