:foreach w in=[/interface wifi find] do={
:local defaultName [/interface/wifi get $w default-name]
  :if ([:len $defaultName] = 0) do={
  :continue
  }
/interface wifi set $w name=$defaultName comment=""
/interface wifi unset $w steering
}

:foreach iface in=[/interface ethernet find] do={
/interface ethernet set $iface name=[get $iface default-name] comment=""
}

/interface vlan remove [find]


/interface/bridge/port remove [find bridge!="containers"]
/interface/bridge remove [find name!="containers"]

/interface bonding remove [find]
/interface macvlan remove [find]

/interface list member remove [find dynamic=no]
/interface list remove [find dynamic=no builtin=no]

:foreach i in=[/ip/pool find] do={
  :local poolName [/ip/pool get $i name]
  :if ($poolName = "DHCP-pool-Split") do={
    :continue
  }
  /ip/pool remove $i
}

#:foreach i in=[/ip/dhcp-server find] do={
##  :local poolName [/ip/dhcp-server get $i address-pool]
#  :if ($poolName = "DHCP-pool-Split") do={
#    :continue
#  }
#  /ip/dhcp-server remove $i
#}

/ip/dhcp-server remove [find interface!="LANBridgeSplit"]
/ip/dhcp-server/network remove [find]
/ip dhcp-client remove [find]
/ip firewall filter remove [find dynamic=no && comment!="nasnet-panel-installer-forward"]
/ip firewall nat remove [find dynamic=no && comment!="nasnet-panel-installer-srcnat" && comment!="nasnet-panel-installer-dstnat"]
/ip firewall mangle remove [find dynamic=no]
/ip firewall address-list remove [find dynamic=no]
/ip dns forwarder remove [find]
/ip dns static remove [find dynamic=no]
/ip route remove [find dynamic=no]
/routing table remove [find dynamic!=yes]
/routing rule remove [find default!=yes]
/system script environment remove [/system script environment find name !=WizardProgress && name !=WizardCurrentStep]
/system script remove [find name!="wizard"]
/system scheduler remove [find]
/system logging remove [find default=no]
/system logging action remove [find default=no]
/system ntp client servers remove [find dynamic=no]
/tool graphing interface remove [find]
/tool graphing queue remove [find]
/tool graphing resource remove [find]
/tool netwatch remove [find]
/interface l2tp-client remove [find]
/interface wireguard remove [find]
/interface wireguard peers remove [find]
/ppp profile remove [find default=no]
/ppp secret remove [find]
/interface ovpn-server server remove [find]
/interface wifi steering remove [find]

:foreach i in=[/ip/nat-pmp/interfaces find] do={
  :local interface [/ip/nat-pmp/interfaces get $i interface]
  :if ($interface = "LANBridgeSplit") do={
    :continue
  }
  /ip/nat-pmp/interfaces remove $i
}

:foreach i in=[/ip/address find] do={
  :local comment [/ip/address get $i comment]
  :local interface [/ip/address get $i interface]
  :if ($interface = "LANBridgeSplit" || $interface = "containers") do={
    :continue
  }
  /ip/address remove $i
}