/certificate
add name=cert-ca-{{ .CurrentTimestamp }} common-name=cert-ca-{{ .CurrentTimestamp }} key-size=2048 days-valid=3650 trusted=yes key-usage=crl-sign,key-cert-sign
sign cert-ca-{{ .CurrentTimestamp }}
:delay 1s
add name=cert-server-{{ .CurrentTimestamp }} common-name=cert-server-{{ .CurrentTimestamp }} key-size=2048 days-valid=3650 trusted=yes key-usage=digital-signature,key-encipherment,tls-server
sign cert-server-{{ .CurrentTimestamp }} ca=cert-ca-{{ .CurrentTimestamp }}
add name=cert-client-{{ .CurrentTimestamp }} common-name=cert-client-{{ .CurrentTimestamp }} key-size=2048 days-valid=3650 trusted=yes key-usage=tls-client
sign cert-client-{{ .CurrentTimestamp }} ca=cert-ca-{{ .CurrentTimestamp }}
export-certificate cert-ca-{{ .CurrentTimestamp }} file-name=cert-ca-{{ .CurrentTimestamp }} type=pem
export-certificate cert-server-{{ .CurrentTimestamp }} file-name=cert-server-{{ .CurrentTimestamp }} type=pem
export-certificate cert-client-{{ .CurrentTimestamp }} file-name=cert-client-{{ .CurrentTimestamp }} type=pem export-passphrase={{ .OvpnServer.ClientCertificatePassword }}

/interface ovpn-server server
add name="ovpn-server-{{ .CurrentTimestamp }}-tcp" default-profile="default" disabled=no \
port="1194" protocol="tcp" mode="ip" certificate=cert-server-{{ .CurrentTimestamp }} \
require-client-certificate=yes auth=sha1,md5,sha256,sha384,sha512 cipher=blowfish128,aes128-cbc,aes192-cbc,aes256-cbc,aes128-gcm,aes192-gcm,aes256-gcm \
redirect-gateway=def1 keepalive-timeout=60
add name="ovpn-server-{{ .CurrentTimestamp }}-udp" default-profile="default" disabled=no port="1194" protocol="udp" \
mode="ip" certificate=cert-server-{{ .CurrentTimestamp }} require-client-certificate=yes auth=sha1,md5,sha256,sha384,sha512 cipher=blowfish128,aes128-cbc,aes192-cbc,aes256-cbc,aes128-gcm,aes192-gcm,aes256-gcm \
redirect-gateway=def1 keepalive-timeout=60

/ppp secret{{range .OvpnServer.Users}}
add name="{{ .Username }}" password="{{ .Password }}" profile=VPN-VPN service=any
{{end}}

/ip firewall filter
add action=accept chain=input comment="OpenVPN Server ovpn-tcp (tcp)" dst-port="1194" \
in-interface-list="Domestic-WAN" protocol="tcp"
add action=accept chain=input comment="OpenVPN Server ovpn-udp (udp)" dst-port="1194" \
in-interface-list="Domestic-WAN" protocol="udp"

/ip firewall mangle
add action=mark-connection chain=input comment="Mark Inbound OpenVPN Connections (ovpn-tcp)" \
connection-state=new \ in-interface-list="Domestic-WAN" protocol="tcp" dst-port="1194" \
new-connection-mark="conn-vpn-server" passthrough=yes
add action=mark-connection chain=input comment="Mark Inbound OpenVPN Connections (ovpn-udp)" \
connection-state=new \ in-interface-list="Domestic-WAN" protocol="udp" dst-port="1194" \
new-connection-mark="conn-vpn-server" passthrough=yes
