<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Nasnet Panel Installer</string>
	<key>CFBundleDisplayName</key>
	<string>Nasnet Panel Installer</string>
	<key>CFBundleIdentifier</key>
	<string>community.nasnet.panel-installer</string>
	<key>CFBundleExecutable</key>
	<string>nasnet-panel-installer</string>
	<key>CFBundleIconFile</key>
	<string>appicon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>CFBundleVersion</key>
	<string>0.0.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
